NAPCAT_UID=1000
NAPCAT_GID=1000
POSTGRES_PASSWORD=replace-password
# For the PostgreSQL profile, invoke Compose with:
# CIDER_SECRET_FILE=/etc/cider-bot/secret.postgres.toml podman compose --profile postgres up -d
